* {
    font-family: arial, sans-serif;
}

body {
    margin: 0;
}

.jackpot {
    height: 70px;
    padding: 0px 20px;
    background-color: #F5EFEF;
    border-bottom: 4px solid #9A0932;
    box-shadow: 2px 10px 50px -5px rgba(145,145,145,1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blackjack {
    position: relative;
    display: flex;
    height: calc(50vh - 74px);
    background-size: cover;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 2px 8px 50px -13px rgba(145,145,145,1);
    background-image: url('table.jpg');
    overflow: hidden;
}

@media only screen and (max-height: 800px) {
    .blackjack {
        height: calc(100vh - 74px);
    }
}

.dealer {
    background: black;
    height: 100%;
    width: 100%;
    opacity: 0.6;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0;
    z-index: 10;
}

.on-the-table {
    padding: 20px;
    font-size: 2em;
    color: white;
    z-index: 20;
    display: flex;
}

@media only screen and (max-width: 800px) {
    .on-the-table {
        font-size: 1em;
    }
}

.half {
    flex-basis: 50%;
}

@media only screen and (max-width: 600px) {
    .half {
        flex-basis: 0;
    }
}

.hotel {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.casino {
    padding-top: 20px;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .casino {
        width: 90%;
    }
}

.red-carpet {
    border-top: 1.4px solid #9A0932;
    padding-bottom: 20px;
    margin: 0 25px;
    width: 100%;
}

.winner {
    background-color: white;
    font-size: 1.5em;
    color: black;
    padding: 10px 24px;
    border-radius: 2px;
    border: 1.4px solid #9A0932;
    margin-bottom: 20px;
    cursor: pointer;
}
