:root {
    --main-color: #9A0932;
}

* {
    font-family: 'gill sans', arial, sans-serif;
}

body {
    margin: 0;
}

.jackpot {
    height: 70px;
    padding: 0px 20px;
    background-color: #F5EFEF;
    /* border-bottom: 4px solid var(--main-color); */
    box-shadow: 2px 10px 50px -5px rgba(145,145,145,1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout-event {
    animation-name: logout;
    animation-duration: 2s;
}

@keyframes logout {
    from {
        color: gray;
        visibility: hidden;
        opacity: 0;
    }
    to {
        color: var(--main-color);
        visibility: visible;
        opacity: 1;
    }
}

.blackjack {
    position: relative;
    display: flex;
    height: calc(50vh - 70px);
    background-size: cover;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 2px 8px 50px -13px rgba(145,145,145,1);
    background-image: url('../table.jpg');
    overflow: hidden;
}

@media only screen and (max-height: 768px) {
    .blackjack {
        height: calc(100vh - 70px);
    }
}

.dealer {
    background: black;
    height: 100%;
    width: 100%;
    opacity: 0.6;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0;
    z-index: 10;
}

.on-the-table {
    padding: 20px;
    font-size: 2em;
    color: white;
    z-index: 20;
    display: flex;
}

@media only screen and (max-width: 768px) {
    .on-the-table {
        font-size: 1em;
    }
}

.half {
    flex-basis: 50%;
}

@media only screen and (max-width: 768px) {
    .half {
        flex-basis: 0;
    }
}

.hotel {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.casino {
    padding-top: 20px;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 992px) {
    .casino {
        width: 90%;
    }
}

.red-carpet {
    border-top: 1.4px solid var(--main-color);
    padding-bottom: 20px;
    margin: 0 25px;
    width: 100%;
}

.file-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.winner-container {
    font-size: 1.2em;
    margin-bottom: 20px;
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.winner-container.new-file {
    animation-name: new;
    animation-duration: 2s;
    background-color: transparent;
}

@keyframes new {
    from { background-color: var(--main-color); }
    to { background-color: transparent; }
}

.winner-container:hover {
    background-color: #f0f0f0;
}

.spinner {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid var(--main-color);
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.date {
    margin-right: 15px;
}

.winner {
    background-color: transparent;
    font-size: 1.4em;
    color: black;
    padding: 10px 24px;
    border-radius: 2px;
    border: 1.4px solid var(--main-color);
    /* Limit width of filename */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75vw;
}

.profit {
    margin-left: 15px;
}

.profit:hover {
    color: var(--main-color);
}

#uploader {
    appearance: none;
    margin-top: 20px;
    width: 100%;
}

#fileButton {
    margin-top: 20px;
    margin-bottom: 20px;
}

 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: var(--main-color);
    color: white;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: var(--main-color);
    color: white;
}

/* Modal Content/Box */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

@media only screen and (max-width: 992px) {
    .modal-content {
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    .modal-content {
        width: 90%;
    }
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

/* The Close Button */
.close {
    color: gray;
    float: right;
    margin-top: 15px;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}

#upload {
    color: gray;
    cursor: pointer;
    display: none;
}

#upload:hover,
#upload:focus {
    color: black;
    cursor: pointer;
}

#login {
    margin-left: 15px;
    color: gray;
    cursor: pointer;
}

#login:hover,
#login:focus {
    color: black;
    cursor: pointer;
}

#logout {
    margin-left: 15px;
    color: gray;
    cursor: pointer;
    display: none;
}

#logout:hover,
#logout:focus {
    color: black;
    cursor: pointer;
}
